body {
  width: 100%;
}

.content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-buttons {
  display: flex;
  flex-direction: row;
}

.form {
  /* display: none; */
  flex-direction: column;
  justify-content: center;
}

.write-btn, .read-btn, .review-btn {
  margin-top: 10px;
  max-width: 150px;
  height: 40px;
}

input {
  height: 30px;
}

input, textarea {
  margin-top: 10px;
  padding: 0;
  max-width: 400px;
}